# Gradle
build/
.gradle/

# Maven (just in case)
target/

# OS X
.DS_Store

# Eclipse settings
.classpath
.project
.settings/

# IntelliJ settings
*.iml
*.ipr
*.iws
out/

# Backup and lock files
*~
\#*\#

# Vagrant storage
.vagrant/

# Managed by librarian
chef/lib/cookbooks/
chef/lib/tmp/

# Keys and certs
*.key
*.cer
*.crt
*.der
*.pem

# Other
*.class
bin/
.svn/

# Let's just ignore all dotfiles by default
.*
!.gitignore
!.gitattributes
