.x-form-element .strengthMeter {
        border: 1px solid #B5B8C8;
        border-top-width: 20px;
        margin: 3px 0 3px 0;
        background-image: url(images/meter_background.gif);
}
.x-form-element .strengthMeter-focus {
        border: 1px solid #000;
}
.x-form-element .scoreBar {
        background-image: url(images/meter.gif);
        height: 10px;
        width: 0;
        line-height: 1px;
        font-size: 1px;
}