.ux-mselect{
    overflow:auto !important; /* override Ext's .x-fieldset-body overflow:hidden */
    background:white;
    position:relative; /* for calculating scroll offsets */
    zoom:1;
}
.ux-mselect-item{
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    padding:2px;
    border:1px solid #fff;
    white-space: nowrap;
    cursor:pointer;
}
.ux-mselect-selected{
	border:1px dotted #a3bae9 !important;
    background:#DFE8F6;
    cursor:pointer;
}
