<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ReportAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
        <file>${catalina.base}/logs/report.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>report.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
            <!-- keep last 3 logs -->
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="edu.jhuapl.openessence.web.ReportController" level="INFO">
        <appender-ref ref="ReportAppender"/>
    </logger>

    <!-- <logger name="org.springframework" level="INFO" />
    <logger name="org.hibernate" level="INFO" /> -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
